/* COMMON */ /* 5 */
body { /* 3 */
  color: #333; /* 5 */
  font-size: 16px; /* 5 */
  font-weight: 400; /* 5 */
  line-height: 1.4; /* 5 */
  font-family: 'Nanum Gothic', sans-serif; /* 3 */
} /* 3 */
img { /* 5 */
  display: block; /* 5 */
} /* 5 */
a { /* 6 */
  text-decoration: none; /* 6 */
} /* 6 */
.inner{ /* 8 */
  width: 1100px; /* 8 */
  margin: 0 auto; /* 8 */
  position: relative; /* 8 */
} /* 8 */





/* Button */ /* 14 */
.btn{
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: .4s;
  color: #333;
  box-sizing: border-box;
  display: block;
}
.btn:hover{
  background-color: #333;
  color:#fff;
}

.btn.btn--reverse{
  color: #fff;
  background-color: #333;
}
.btn.btn--reverse:hover{
  color:#333;
  background-color: transparent;
}

.btn.btn--brown{
  color:#592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover{
  color:#FFF;
  background-color: #592b18;
}

.btn.btn--gold{
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover{
  color:#333;
  background-color: #D9aa8a;
}

.btn.btn--white{
  color:#FFF;
  border-color: #FFF;
}
.btn.btn--white:hover{
  color:#333;
  background-color: #fff;
}


/* HEADER */ /* 5 */
header { /* 5 */
  width: 100%; /* 11 */
  background-color: #f6f5f0; /* 7 */
  border: 1px solid #c8c8c8; /* 7 */
  position: fixed; /* 11 */
  top: 0px; /* 13 *//* 전에 빠트린 부분 */
  z-index: 9; /* 13 *//* 전에 빠트린 부분 */
} /* 5 */

header > .inner { /* 5 */
  height: 120px; /* 5 */

} /* 5 */

header .logo{ /* 5 */
  height: 75px; /* 5 */
  position: absolute; /* 5 */
  top: 0; /* 5 */
  bottom: 0; /* 5 */
  margin: auto; /* 5 */
} /* 5 */

header .sub-menu{ /* 7 */
  display: flex; /* 7 */
  top: 10px; /* 7 */
  right: 0px; /* 7 */
  position: absolute; /* 7 */
} /* 7 */

header .sub-menu ul.menu{ /* 6 */
  display: flex; /* 6 */
} /* 6 */

header .sub-menu ul.menu li{ /* 6 */
  position: relative; /* 6 */
} /* 6 */
header .sub-menu ul.menu li::before{ /* 6 */
  content: ""; /* 6 */
  width: 1px; /* 6 */
  height: 12px; /* 6 */
  background-color: #e5e5e5; /* 6 */
  position: absolute; /* 6 */
  top: 0; /* 6 */
  bottom: 0; /* 6 */
  margin: auto; /* 6 */
} /* 6 */
header .sub-menu ul.menu li:first-child::before{ /* 6 */
  display: none; /* 6 */
} /* 6 */

header .sub-menu ul.menu li a{ /* 6 */
  font: Arial, sans-serif; /* 6 */
  font-size: 12px; /* 6 */
  color: #656565; /* 6 */
  padding: 11px 16px; /* 6 */
  display: block; /* 6 */
} /* 6 */
header .sub-menu ul.menu li a:hover{ /* 6 */
  color: #000; /* 6 */
} /* 6 */

header .sub-menu .search{ /* 7 */
  position: relative; /* 7 */
} /* 7 */

header .sub-menu .search input{ /* 7 */
  width: 36px; /* 7 */
  height: 34px; /* 7 */
  padding: 4px 10px; /* 7 */
  border: 1px solid #ccc; /* 7 */
  background-color: #fff; /* 7 */
  color: #777; /* 7 */
  font-size: 12px; /* 7 */
  box-sizing: border-box; /* 7 */
  border-radius: 5px; /* 7 */
  outline: none; /* 7 */
  transition: width .4s; /* 7 */
} /* 7 */
header .sub-menu .search input:hover{ /* 7 */
  width: 190px; /* 7 */
  border: 1px solid #669900; /* 7 */
} /* 7 */

header .sub-menu .search .material-icons{ /* 7 */
  top: 0; /* 7 */
  bottom: 0; /* 7 */
  right: 5px; /* 7 */
  height: 24px; /* 7 */
  position: absolute; /* 7 */
  margin: auto; /* 7 */
  transition: opacity .4s; /* 7 */
} /* 7 */

header .sub-menu .search.focused .material-icons{ /* 7 */
  opacity: 0; /* 7 */
} /* 7 */


header ul.main-menu { /* 8 */
  display: flex; /* 8 */
  position: absolute; /* 8 */
  bottom: 0; /* 8 */
  right: 0; /* 8 */
} /* 8 */

header ul.main-menu .item .item__name{ /* 8 */
  padding: 10px 20px 34px 20px; /* 8 */
  font-family: Arial, sans-serif; /* 8 */
  font-size: 13px; /* 8 */
} /* 8 */
header ul.main-menu .item:hover .item__name{ /* 8 */
  background-color: #2c2a29; /* 8 */
  color:#669900; /* 8 */
  border-radius: 6px 6px 0 0; /* 8 */
} /* 8 */

header .main-menu .item .item__contents{ /* 8 */
  width: 100%; /* 8 */
  position: fixed; /* 8 */
  left: 0; /* 8 */
  display: none; /* 8 */
} /* 8 */
header .main-menu .item:hover .item__contents{ /* 8 */
  z-index: 1; /* 8 */
  display: block; /* 8 */
} /* 8 */

header ul.main-menu .item .contents__menu{ /* 8 */
  background-color: #2c2a29; /* 9 */
} /* 8 */

header ul.main-menu .item .contents__menu > ul{ /* 9 */
  display: flex; /* 9 */
  padding: 20px 0; /* 9 */
} /* 9 */

header ul.main-menu .item .contents__menu > ul > li{ /* 9 */
  width: 220px; /* 9 */
} /* 9 */

header ul.main-menu .item .contents__menu > ul > li h4{ /* 9 */
  padding: 3px 0 12px 0; /* 9 */
  font-size: 14px; /* 9 */
  color: #fff; /* 9 */
} /* 9 */

header ul.main-menu .item .contents__menu > ul > li ul li{ /* 9 */
  padding: 5px 0; /* 9 */
  font-size: 12px; /* 9 */
  color: #999; /* 9 */
  cursor: pointer; /* 9 */
} /* 9 */
header ul.main-menu .item .contents__menu > ul > li ul li:hover{ /* 9 */
  color: #669900; /* 9 */
} /* 9 */

header ul.main-menu .item .contents__texture{ /* 8 */
  padding: 26px 0; /* 9 */
  font-size: 12px; /* 9 */
  background-image: url('../images/main_menu_pattern.jpg'); /* 9 */
} /* 8 */

header ul.main-menu .item .contents__texture .inner{ /* 9 */

} /* 9 */

header ul.main-menu .item .contents__texture .inner h4{ /* 9 */
  color: #999; /* 9 */
  font-weight: 700; /* 9 */
} /* 9 */

header ul.main-menu .item .contents__texture .inner p{ /* 9 */
  color: #669900; /* 9 */
  padding: 4px 0 14px; /* 9 */
} /* 9 */

header .badges{ /* 11 */
  position: absolute; /* 11 */
  top: 132px; /* 11 */
  right: 12px; /* 11 */
} /* 11 */

header .badges .badge{ /* 11 */
  margin-bottom: 12px; /* 11 */
  box-shadow: 4px 4px 10px rgba(0,0,0,.15); /* 11 */
  cursor: pointer; /* 11 */
  border-radius: 10px; /* 11 */
  overflow: hidden; /* 11 */
} /* 11 */

footer{ /* 31 */
  background-color: #272727; /* 31 */
  border: 1px solid #333; /* 31 */
} /* 31 */
footer .inner{ /* 31 */
  padding: 40px 0 60px 0; /* 31 */
} /* 31 */
footer .menu{ /* 31 */
  display: flex; /* 31 */
  justify-content: center; /* 31 */
} /* 31 */
footer ul.menu li{ /* 31 */
  position: relative; /* 31 */
} /* 31 */
footer ul.menu li::before{ /* 31 */
  content: ""; /* 31 */
  width: 3px; /* 31 */
  height: 3px; /* 31 */
  background-color:#555;; /* 31 */
  right: -1px; /* 31 */
  position: absolute; /* 31 */
  top: 0; /* 31 */
  bottom: 0; /* 31 */
  margin: auto; /* 31 */
} /* 31 */
footer ul.menu li:last-child::before{ /* 31 */
  display: none; /* 31 */
} /* 31 */
footer ul.menu li a{ /* 31 */
  color: #ccc; /* 31 */
  font-size: 12px; /* 31 */
  font-weight: 700; /* 31 */
  padding: 15px; /* 31 */
} /* 31 */
footer ul.menu li a.green{ /* 31 */
  color: #669900 /* 31 */
} /* 31 */
footer .btn-group{ /* 31 */
  display: flex; /* 31 */
  margin-top: 20px; /* 31 */
  justify-content: center; /* 31 */
} /* 31 */
footer .btn-group .btn{ /* 31 */
  font-size: 12px; /* 31 */
  margin-right: 10px; /* 31 */
} /* 31 */
footer .btn-group .btn:last-child{ /* 31 */
  margin-right: 0; /* 31 */
} /* 31 */
footer .info{ /* 31 */
  margin-top: 30px; /* 31 */
  display: flex; /* 31 */
  justify-content: center; /* 31 */
} /* 31 */
footer .info span{ /* 31 */
  font-size: 12px; /* 31 */
  color:#999; /* 31 */
  margin-right: 20px; /* 31 */
} /* 31 */
footer .info span:last-child{ /* 31 */
  margin-right: 0; /* 31 */
} /* 31 */
footer .copyright{ /* 31 */
  color: #999; /* 31 */
  font-size: 12px; /* 31 */
  margin-top: 12px; /* 31 */
  text-align: center; /* 31 */
} /* 31 */
footer .logo{ /* 31 */
  margin: 30px auto 0; /* 31 */
} /* 31 */